#button{
	font-size: 20px;
	border-color: transparent;
	border-left: 6px solid White;
	border-right: 6px solid White;
	background-color: transparent;
	font-family: arial black;
}

#button1{
	font-size: 20px;
	border-color: transparent;
	border-left: 6px solid White;
	border-right: 6px solid White;
	background-color: transparent;
	font-family: arial black;
}

#button2{
	font-size: 20px;
	border-color: transparent;
	border-left: 6px solid White;
	border-right: 6px solid White;
	background-color: transparent;
	font-family: arial black;
}

#button3{
	font-size: 20px;
	border-color: transparent;
	border-left: 6px solid White;
	border-right: 6px solid White;
	background-color: transparent;
	font-family: arial black;
}

#button4{
	font-size: 20px;
	border-color: transparent;
	border-left: 6px solid White;
	border-right: 6px solid White;
	background-color: transparent;
	font-family: arial black;
}